body {
  font-family: monospace;
}
body .landing {
  display: flex;
  flex-direction: column;
  justify-content: space-evently;
}
body .landing section {
  height: auto;
}
body .landing .main .container {
  position: relative;
  text-align: center;
}
body .landing .main .container .title {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
body .landing .info {
  margin-top: 1em;
  background-color: #26272b;
  color: whitesmoke;
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}
body .landing .info .card-body {
  padding: 1em;
  overflow: hidden;
}
body .landing .info .card-body img {
  max-width: 100%;
  height: auto;
}
body .landing .footer {
  margin-top: 1.3em;
}
body .landing .footer .site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
body .landing .footer .site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
body .landing .footer .site-footer a {
  color: #737373;
}
body .landing .footer .site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
body .landing .footer .footer-links {
  padding-left: 0;
  list-style: none;
}
body .landing .footer .footer-links li {
  display: block;
}
body .landing .footer .footer-links a {
  color: #737373;
}
body .landing .footer .footer-links a:active,
body .landing .footer .footer-links a:focus,
body .landing .footer .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
body .landing .footer .footer-links.inline li {
  display: inline-block;
}
body .landing .footer .site-footer .social-icons {
  text-align: right;
}
body .landing .footer .site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
body .landing .footer .copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  body .landing .footer .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  body .landing .footer .site-footer {
    padding-bottom: 0;
  }
  body .landing .footer .site-footer .copyright-text,
body .landing .footer .site-footer .social-icons {
    text-align: center;
  }
}
body .landing .footer .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
body .landing .footer .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
body .landing .footer .social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
body .landing .footer .social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body .landing .footer .social-icons a:active,
body .landing .footer .social-icons a:focus,
body .landing .footer .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
body .landing .footer .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
body .landing .footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}
body .landing .footer .social-icons a.twitter:hover {
  background-color: #00aced;
}
body .landing .footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}
body .landing .footer .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  body .landing .footer .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
body .landing .footer .row {
  display: flex;
  padding: 1em;
}
body .text-center {
  text-align: center;
  text-justify: center;
}
body .title-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
