html,
body {
  height: 100vh;
  font-family: monospace;
  background-color: #e07c35;
}
html .landing,
body .landing {
  display: flex;
  flex-direction: column;
  justify-content: space-evently;
}
html .landing section,
body .landing section {
  height: auto;
}
html .landing .main nav ul,
body .landing .main nav ul {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  list-style: none;
}
html .landing .main nav ul .brand,
body .landing .main nav ul .brand {
  flex: 1;
}
html .landing .main nav ul li,
body .landing .main nav ul li {
  padding: 0.3em;
}
html .landing .main nav ul li a,
body .landing .main nav ul li a {
  color: whitesmoke;
  font-size: 2vw;
  text-decoration: none;
}
html .landing .main nav ul li a:hover,
body .landing .main nav ul li a:hover {
  color: #e07c35;
}
html .landing .main .container,
body .landing .main .container {
  position: relative;
  text-align: center;
  min-width: 100%;
}
html .landing .main .container .title,
body .landing .main .container .title {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}
html .landing .info,
body .landing .info {
  min-width: 100%;
  margin-top: 1em;
  background-color: #26272b;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
html .landing .info .card,
body .landing .info .card {
  width: 20rem;
}
html .landing .info .card .card-body,
body .landing .info .card .card-body {
  padding: 1em;
  overflow: hidden;
}
html .landing .info .card .card-body img,
body .landing .info .card .card-body img {
  max-width: 100%;
  height: auto;
}
html .landing .info .card .card-body p,
body .landing .info .card .card-body p {
  font-size: 1.5vw;
}
html .landing .footer,
body .landing .footer {
  font-size: 1.5vw;
  margin-top: 1.3em;
}
html .landing .footer .site-footer,
body .landing .footer .site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  line-height: 24px;
  color: #737373;
}
html .landing .footer .site-footer h6,
body .landing .footer .site-footer h6 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
html .landing .footer .site-footer a,
body .landing .footer .site-footer a {
  color: #737373;
}
html .landing .footer .footer-links,
body .landing .footer .footer-links {
  padding-left: 0;
  list-style: none;
}
html .landing .footer .footer-links a,
body .landing .footer .footer-links a {
  color: #737373;
}
html .landing .footer .footer-links.inline li,
body .landing .footer .footer-links.inline li {
  display: inline-block;
}
html .landing .footer .site-footer .social-icons,
body .landing .footer .site-footer .social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
}
html .landing .footer .site-footer .social-icons a,
body .landing .footer .site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
html .landing .footer .copyright-text,
body .landing .footer .copyright-text {
  margin: 0;
}
@media (max-width: 767px) {
  html .landing .site-footer,
body .landing .site-footer {
    padding-bottom: 0;
  }
  html .landing .site-footer .copyright-text,
html .landing .site-footer .social-icons,
body .landing .site-footer .copyright-text,
body .landing .site-footer .social-icons {
    text-align: center;
  }
}
html .landing .social-icons,
body .landing .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
html .landing .social-icons li,
body .landing .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
html .landing .social-icons li.title,
body .landing .social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
html .landing .social-icons a,
body .landing .social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
html .landing .social-icons a:active,
html .landing .social-icons a:focus,
html .landing .social-icons a:hover,
body .landing .social-icons a:active,
body .landing .social-icons a:focus,
body .landing .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
html .landing .social-icons.size-sm a,
body .landing .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
html .landing .social-icons a.facebook:hover,
body .landing .social-icons a.facebook:hover {
  background-color: #3b5998;
}
html .landing .social-icons a.twitter:hover,
body .landing .social-icons a.twitter:hover {
  background-color: #00aced;
}
html .landing .social-icons a.linkedin:hover,
body .landing .social-icons a.linkedin:hover {
  background-color: #007bb6;
}
html .landing .social-icons a.dribbble:hover,
body .landing .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  html .landing .social-icons li.title,
body .landing .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
html .landing .row,
body .landing .row {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}
html .landing .row .quick-links,
body .landing .row .quick-links {
  width: 10rem;
}
html .text-center,
body .text-center {
  text-align: center;
  text-justify: center;
}
html .title-container,
body .title-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.footer-container {
  max-width: 30em;
}

/*# sourceMappingURL=main.css.map */
